
<div class = "container bordered">
  <div class= "rows">
    <div class= "col-12">
        <table class="table table-responsive">
            <thead>
              <tr>
                <th>Action</th>
                <th>Requestor</th>
                <th>Empid</th>
                <th>Applied On</th>
                <th>Applied For</th>
                <th>Email</th>
                <th>Manager</th>
                <th>Desc</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let record of records; let i = index">
                <td>{{record.ReqStatus}}</td>
                <td>{{record.UserName}}</td>
                <td>{{record.EmpId}}</td>
                <td>{{record.ReqDate | date}}</td>
                <td>{{record.WorkingDate | date}}</td>
                <td>{{record.Email}}</td>
                <td>{{record.Manager}}</td>
                <td>{{record.Desc}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>